{% extends "base.html" %}

{% block content %}
    <section>
        <title>Market Data</title>

        <h1>Market data</h1>

        <table border="1">
            <tr>
                <th>
                    <td>Gainers</td>
                    <td>Price</td>
                    <td>Price change</td>
                </th>
            </tr>

            {% for company in gainers %}
            <tr>
                <td>{{ company.name }}</td>
                <td>{{ company.price }}</td>
                <td>{{ company.change }}</td>
            </tr>
            {% endfor %}
        </table>

        <table border="1">
            <tr>
                <th>
                    <td>Losers</td>
                    <td>Price</td>
                    <td>Price change</td>
                </th>
            </tr>

            {% for company in losers %}
            <tr>
                <td>{{ company.name }}</td>
                <td>{{ company.price }}</td>
                <td>{{ company.change }}</td>
            </tr>
            {% endfor %}
        </table>

        <div>
            {% for index in indices %}
                <p>{{ index.name }}</p>
                <p>{{ index.value }}</p>
                <p>{{ index.change }}</p>
            {% endfor %}
        </div>
        
    </section>
{% endblock %}