<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>


<body>
    <section>
        <title>Market Data</title>
        <h1>Market data</h1>
        <table border="1">
            <tr>
                <th>
                    <td>Gainers</td>
                    <td>Price</td>
                    <td>Price change</td>
                </th>
            </tr>

            {% for company in gainers %}
            <tr>
                <td>{{ company.name }}</td>
                <td>{{ company.price }}</td>
                <td>{{ company.change }}</td>
            </tr>
            {% endfor %}
        </table>

        <table border="1">
            <tr>
                <th>
                    <td>Losers</td>
                    <td>Price</td>
                    <td>Price change</td>
                </th>
            </tr>

            {% for company in losers %}
            <tr>
                <td>{{ company.name }}</td>
                <td>{{ company.price }}</td>
                <td>{{ company.change }}</td>
            </tr>
            {% endfor %}
        </table>

        <div>
            {% for index in indices %}
                <p>{{ index.name }}</p>
                <p>{{ index.value }}</p>
                <p>{{ index.change }}</p>
            {% endfor %}
        </div>
    </section>
</body>